
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("Background\ 1\ canvas\ -\ Project\ 81.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 20px;
border-style:ridge;
background-color:rgb(162, 198, 223);
}

